header {
  margin: auto;
  width: 80%;
}

h1 {
  text-align: center;
}

.column-1 {
  border: 2px solid black;
  float: left;
  width: 40%;
  box-sizing: border-box;
  margin-left: 40px;
}

.column-2 {
  border: 2px solid black;
  float: right;
  width: 40%;
  box-sizing: border-box;
  margin-right: 40px;
}

footer {
  clear: both;
}