.octopus {
  /*outline: 1px solid red; used for debugging*/
  position: absolute; 
  margin-top: 200px;
  margin-left:200px;
  margin-right:200px;
  margin-bottom: 50px;

}

.hat {
  position:absolute; 
  margin-left: 180px;
  margin-top: 100px;

}

.glasses {
  position:absolute;
  margin-top: 300px;
  margin-left: 240px;
  z-index: 1; /*should be on top*/


}

/* used absolute positioning because the margins 
are still modifiable on each image, and 
they will be placed relative to each other*/